.metronome.is-playing-right,
.metronome.is-playing-left {
	.metronome__blink {
		animation-name: blink;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-timing-function: ease-in-out;
	}
	.metronome__indicator {
		animation-name: metronome-right;
		animation-iteration-count: 1;
		animation-direction: normal;
	}
}

.metronome.is-playing-right {
	.metronome__indicator {
		animation-name: metronome-right;
	}
}

.metronome.is-playing-left {
	.metronome__indicator {
		animation-name: metronome-left;
	}
}

@keyframes metronome-right {
	0% {
		transform: translateX( 0px );
		animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
	}

	50% {
		transform: translateX( 150px );
		animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */
	}

	100% {
		transform: translateX( 0px );
	}

	0%,
	100% {
				opacity: 1;
	}

	10%,
	90% {
				opacity: 0.3;
	}

	50% {
		opacity: 0.1;
	}

}

@keyframes metronome-left {
	0% {
		transform: translateX( 0px );
		animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
	}

	50% {
		transform: translateX( -150px );
		animation-timing-function: cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */
	}

	100% {
		transform: translateX( 0px );
	}

	0%,
	100% {
		opacity: 1;
	}

	10%,
	90% {
		opacity: 0.3;
	}

	50% {
		opacity: 0.1;
	}

}

@keyframes blink {
	0% {
		opacity: 0;
	}

	30%,
	70% {
		opacity: 0.3;
	}

	100% {
		opacity: 1;
	}
}
